* {
  font-family: Sans-Serif;
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background-color: #EEE9E8;
}

// html {
//   font-size: 62.5%; //1 rem = 10px; 10px/16px = 62.5%

//   //1450px
//   @include respond(laptop-small) {
//     font-size: 56.25%; //1 rem = 9px, 9/16 = 50%
//   }

//   //1267px
//   @include respond(tab-land) {
//     font-size: 50%; //1 rem = 8px, 8/16 = 50%
//   }

//   //1022px
//   @include respond(tab-port) {
//     font-size: 45%;
//   }

//   //767px
//   @include respond(phone-big) {
//     font-size: 43.75%; //1rem = 7, 7/16
//   }
// }
